body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.canvas {
    position: relative;
    height: 80vh;
    border: 1px solid #ccc;
}

.rectangle {
    position: absolute;
    border: 1px solid #000;
    padding: 10px;
    background-color: #f0f0f0;
    cursor: move;
}

.add-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #2884f0;
    color: white;
    cursor: pointer;
}

.line-canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; /* Чтобы клики не перекрывали линии */
}
