body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
}

.container {
    margin: 20px;
}

#tree {
    border: 1px solid #e0e0e0;
    background-color: #fff;
    margin: 20px auto;
    width: 80%;
    height: 500px;
}

.node {
    stroke: #999;
    stroke-width: 1px;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
